﻿@model IEnumerable<dpetrec_i2.Repos.Models.Predmet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NazivPredmeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpisPredmeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ECTS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazivPredmeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpisPredmeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ECTS)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
