﻿@page "/BrisanjeRadnika/{TrenID}"
@using dpetrec_i3.Data
@inject RadnikRadnje radnikRadnje
@inject NavigationManager NavigationManager

<h2>Brisanje radnika</h2>
<hr />
<h3>Obrisi?</h3>

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label>ID:</label>
            <label>@radnik.ID</label>
        </div>
        <div class="form-group">
            <label>Name</label>
            <label>@radnik.Ime</label>
        </div>
        <div class="form-group">
            <label>City</label>
            <label>@radnik.Prezime</label>
        </div>
        <div class="form-group">
            <label>Country</label>
            <label>@radnik.Mjesto</label>
        </div>
        <div class="form-group">
            <label>Age</label>
            <label>@radnik.Placa</label>
        </div>

    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-danger" @onclick="@ObrisiRadnika" value="Delete" />
            <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />

        </div>
    </div>
</div>

@code {

    [Parameter]
    public string TrenID { get; set; }
    Radnik radnik = new Radnik();

    protected override async Task OnInitializedAsync()
    {
        radnik = await Task.Run(() => radnikRadnje.DohvatiRadnikaID(Convert.ToInt32(TrenID)));
    }

    protected void ObrisiRadnika()
    {
        radnikRadnje.BrisanjeRadnika(radnik);
        NavigationManager.NavigateTo("MainRadnik");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("MainRadnik");
    }

}
