﻿@page "/MainRadnik"
@using dpetrec_i3.Data
@inject RadnikRadnje radnikRadnje

<NavLink class="nav-link" href="DodavanjeRadnika">
    <span class="oi oi-plus" aria-hidden="true"></span>
</NavLink>

<h1>Informacije radnika</h1>
@if (radnik == null)
{
    <p><em>Svi podaci</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Mjesto</th>
                <th>Placa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in radnik)
            {
                <tr>
                    <td>@x.ID</td>
                    <td>@x.Ime</td>
                    <td>@x.Prezime</td>
                    <td>@x.Mjesto</td>
                    <td>@x.Placa</td>
                    <td>
                        <a class="nav-link" href="UrediRadnika/@x.ID">
                            <span class="oi oi-pencil" aria-hidden="true"></span>Uredi
                        </a>
                        <a class="nav-link" href="BrisanjeRadnika/@x.ID">
                            <span class="oi oi-pencil" aria-hidden="true"></span>Obrisi
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Radnik> radnik;
    protected override async Task OnInitializedAsync()
    {
        radnik = await Task.Run(() => radnikRadnje.DohvatiRadnike());
    }
}
