﻿@page "/UrediRadnika/{TrenID}"
@using dpetrec_i3.Data
@inject RadnikRadnje radnikRadnje
@inject NavigationManager NavigationManager

<h2>Uredi radnika</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input for="ID" class="form-control" @bind="@radnik.ID" />
            </div>
            <div class="form-group">
                <label for="Ime" class="custom-control-label">Ime</label>
                <input form="Ime" class="form-control" @bind="@radnik.Ime" />
            </div>
            <div class="form-group">
                <label for="Prezime" class="custom-control-label">Prezime</label>
                <input form="Prezime" class="form-control" @bind="@radnik.Prezime" />
            </div>
            <div class="form-group">
                <label for="Mjesto" class="custom-control-label">Mjesto</label>
                <input form="Mjesto" class="form-control" @bind="@radnik.Mjesto" />
            </div>
            <div class="form-group">
                <label for="Placa" class="custom-control-label">Placa</label>
                <input form="Placa" class="form-control" @bind="@radnik.Placa" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateRadnika" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />

            </div>
        </div>
    </div>
</form>


@code {
    [Parameter]
    public string TrenID { get; set; }
    Radnik radnik = new Radnik();

    protected override async Task OnInitializedAsync()
    {
        radnik = await Task.Run(() => radnikRadnje.DohvatiRadnikaID(Convert.ToInt32(TrenID)));
    }

    protected void UpdateRadnika()
    {
        radnikRadnje.UpdateRadnika(radnik);
        NavigationManager.NavigateTo("MainRadnik");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("MainRadnik");
    }
}
