﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hard Gym</h1>
    <img src="~/lib/brend/pngaaa.com-2946738.png" alt="logo" class="center" height="500" width="350">

</div>
