﻿@model dpetrec_i2.Repos.Models.PohadanjePredmeta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PohadanjePredmeta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazivPredmeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazivPredmeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JMBAG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JMBAG)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
