﻿@page
@model dpetrec_i1.Pages.Sections.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Ukloni</h1>


<div>
    <h4>Vele Partner</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.member.NazivClana)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.member.NazivClana)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.member.Podruznica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.member.Podruznica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.member.Gymbag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.member.Gymbag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.member.iznosClanarine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.member.iznosClanarine)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="member.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Popis clanova</a>
    </form>
</div>
