﻿@page
@model dpetrec_i1.Pages.Sections.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Detalji</h1>

<div>
    <h4>Detalji o clanu teretane</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="member.NazivClana" class="control-label">Naziv clana</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.member.NazivClana)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="member.Podruznica" class="control-label">Podruznica</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.member.Podruznica)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="member.Gymbag" class="control-label">GYMBAG</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.member.Gymbag)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="member.iznosClanarine" class="control-label">Iznos clanarine</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.member.iznosClanarine)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.member.ID">Uredi korisnika</a> |
    <a asp-page="./Index">Clanovi</a>
</div>
