﻿@page
@model dpetrec_i1.Pages.Sections.EditModel
<h1>Uredivanje clana</h1>

<h4>Izmjena u podacima clana</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="member.ID" />
            <div class="form-group">
                <label asp-for="member.NazivClana" class="control-label">Naziv Clana</label>
                <input asp-for="member.NazivClana" class="form-control" />
                <span asp-validation-for="member.NazivClana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="member.Podruznica" class="control-label">Podruznica</label>
                <input asp-for="member.Podruznica" class="form-control" />
                <span asp-validation-for="member.Podruznica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="member.Gymbag" class="control-label">GYMBAG</label>
                <input asp-for="member.Gymbag" class="form-control" />
                <span asp-validation-for="member.Gymbag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="member.iznosClanarine" class="control-label">Iznos clanarine</label>
                <input asp-for="member.iznosClanarine" class="form-control" />
                <span asp-validation-for="member.iznosClanarine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Clanovi teretane</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
