﻿@page
@model dpetrec_i1.Pages.Sections.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Korisnici teretane</h1>

<p>
    <a asp-page="Create">Unesi clana</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label @Html.DisplayNameFor(model => model.member[0].NazivClana) class="control-label">Naziv clana</label>
            </th>
            <th>
                <label @Html.DisplayNameFor(model => model.member[0].Podruznica) class="control-label">Podruznica</label>
            </th>
            <th>
                <label @Html.DisplayNameFor(model => model.member[0].Gymbag) class="control-label">Gymbag</label>
            </th>
            <th>
                <label @Html.DisplayNameFor(model => model.member[0].iznosClanarine) class="control-label">Iznos clanarine</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.member)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NazivClana)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Podruznica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gymbag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.iznosClanarine)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
